
<!-- Navbar-->

<div class="justify-content-center">
  <div [ngSwitch]="showView">
    <div *ngSwitchCase="'login'">
      <app-login-form (showView)="ngShowView($event)" (idUser)="setIdUser($event)"></app-login-form>
    </div>
    <div *ngSwitchCase="'recoverypassword'">
      <app-recovery-password [user$]="user$" [authenticated$]="authenticated$"></app-recovery-password>
    </div>
    <div *ngSwitchCase="'emailconfirmation'">
      <app-confirm-mail [user$]="user$" [authenticated$]="authenticated$" [idUser]="idUser"></app-confirm-mail>
    </div>
    <div *ngSwitchDefault>
      <div class="card-body">{{ showView }}</div>
    </div>
    <ng-container *ngIf="showView !== 'recoverypassword'; else elseTemplate">
      <div class="mt-3 row">
        <div class="col-6">
          <a class="" (click)="ngShowView('recoverypassword')">
            <small class="button-link">Esqueceu sua senha?</small>
          </a>
        </div>
        <div class="col-6 text-right">
          <a class="" (click)="ngNavigateToRegister()">
            <small class="button-link">Criar nova conta</small>
          </a>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="mt-3 row">
        <div class="col-6">
          <a class="" (click)="ngShowView('login')">
            <small class="button-link">Fazer login</small>
          </a>
        </div>
        <div class="col-6 text-right">
          <a class="" (click)="ngNavigateToRegister()">
            <small class="button-link">Criar nova conta</small>
          </a>
        </div>
      </div>
    </ng-template>
  </div>
</div>
