<div class="wrapper">
  <div class="main-panel">
    <div class="container">
      <div class="row align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
          <img src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg" alt=""
            class="img-fluid mb-3 d-none d-md-block">
          <h1>CAÇA RANGO</h1>
          <p class="font-italic text-muted mb-0">Traçamos a rota entre você e o fim da sua fome.
          </p>
          <p class="font-italic text-muted">Created By <a href="https://www.linkedin.com/in/diego-ceccon/" class="text-muted">
              <u>Diego Ceccon</u></a>
          </p>
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
              <!-- Navbar Brand -->
              <a href="#" class="navbar-brand">
                <img src="../../../assets/img/logo22.png " alt="logo"
                  width="150">
              </a>
            </div>
          </nav>
          <!-- Navbar-->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
